@{
    ViewBag.Title = "Home";
}

<header class="bg-primary text-white text-center" style="margin-top: 80px; background-color: rgb(255,255,255)!important;">
    <div class="container">
        <h1 style="color: rgb(0,0,0) !important;">RENT-A-CAR</h1>
        <h2 class="font-weight-light mb-0" style="color: rgb(0,0,0) !important;">0548-57482950</h2><img class="img-fluid d-block mx-auto mb-5" src="assets/img/3-cars.png">
    </div>
</header>
<section id="about" class="bg-primary text-white mb-0" style="background-color: rgb(0,39,78) !important;">
    <div class="container">
        <h2 class="text-uppercase text-center text-white">top verhuurde auto's</h2>
        <hr>
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center" style="color: rgb(0,0,0);">Puegeot 206</h4>
                        <h6 class="text-muted card-subtitle mb-2"><br><br><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut nunc</strong><br><strong>sit amet elit pretium volutpat. Suspendisse ut varius turpis, a maximus</strong><br><strong>leo. Nullam magna libero, convallis sit amet aliquet vitae, tincidunt&nbsp;</strong><br><br></h6>
                        <button class="btn btn-primary text-center" style="background-color: rgb(96,98,97);">
                            Huur nu
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ml-auto">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center" style="color: rgb(0,0,0);">Peugeot 306</h4>
                        <h6 class="text-muted card-subtitle mb-2"><br><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut nunc</strong><br><strong>sit amet elit pretium volutpat. Suspendisse ut varius turpis, a maximus</strong><br><strong>leo. Nullam magna libero, convallis sit amet aliquet vitae, tincidunt&nbsp;</strong><br><br><br></h6>
                        <button class="btn btn-primary text-center text-center" style="background-color: rgb(96,98,97);">
                            Huur nu
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mr-auto">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center" style="color: rgb(0,0,0);">Citroen DS3</h4>
                        <h6 class="text-muted card-subtitle mb-2"><br><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut nunc</strong><br><strong>sit amet elit pretium volutpat. Suspendisse ut varius turpis, a maximus</strong><br><strong>leo. Nullam magna libero, convallis sit amet aliquet vitae, tincidunt&nbsp;</strong><br><br><br></h6>
                        <button class="btn btn-primary d-xl-flex align-items-center align-content-center align-items-xl-start" style="background-color: rgb(96,98,97);">
                            Huur nu
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>