@model Rent_a_Car.Models.SchakelType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_layoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SchakelType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Schakeltype1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schakeltype1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
