@model IEnumerable<Rent_a_Car.Models.Auto>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container" style="display:grid;grid-template-columns: 33% 33% 33%;">
    @{

        foreach (var auto in Model)
        {

        <div class="card" style="margin: 10px;">
            @{
                if (auto.AutoType.Foto != null && auto.AutoType.Foto.Length > 0)
                {

                    var base64 = Convert.ToBase64String(auto.AutoType.Foto);
                    var imgSrc = String.Format("data:image;base64,{0}", base64);

                    <img src="@imgSrc" class="card-img-top" style="width: 100%; height: 150px;"/>
                }
                else
                {
                  <img src="~/Content/Placeholder_car.jpg" class="card-img-top" style="width: 100%; height: 150px;"/>
                }

            }
            <div class="card-body">
                <h2>@auto.AutoType.Merk @auto.AutoType.Type - @auto.AutoType.Uitvoering</h2>
            </div>
        </div>


        }
    }
</div>
